* {
    margin: 0;
}

img {
    width: 100%;
    position: relative;
}

.content {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}
.main-block {
    display: flex;
    transition: 1s;
    
}

.bottom-block {
    display: flex;
    justify-content: space-between;
}

.poppy1:checked ~ .main-block {
    transform: translate(0%);
}
.poppy2:checked ~ .main-block {
    transform: translate(-100%);
}
.poppy3:checked ~ .main-block {
    transform: translate(-200%);
}